{{#each friends}}
<li class="friend">
    <span class="friend__foto">
        <img src="{{photo_100}}" alt="">
    </span>
    <span class="friend__name">
        {{first_name}} {{last_name}}
    </span>
    <span class="friend__add">

    </span>
</li>
{{/each}}
