$main-color: #ff8663;
$main-color2: #f0f0f0;

body {
    background-color: rgba(0, 0, 0, 0.40);
    font-family: Arial, Helvetica, sans-serif;
}

.main {
    max-width: 620px;
    margin: 0 auto;
    height: 550px;
    
}

.filter {
    background-color: #fff;
    border-radius: 20px;
    overflow: hidden;
    
    &__content {
        // overflow: hidden;
        display: flex;
    }
    &__header {
        background-color: $main-color;
        color: #fff;
        padding: 10px 15px;
        font-weight: bold;
        font-size: 16px;
    }
    &__item {
        flex-basis: 50%;
        flex-wrap: wrap;
        box-sizing: border-box;
        border-right: 1px solid $main-color2;
        &:last-child {
            border-right: 0px;
        }
    }
    &__title {
        font-size: 12px;
        font-weight: bold;
        margin: 15px 20px 0px 15px;
        padding-bottom: 10px;
        border-bottom: 1px solid $main-color2;
    }
    &__search {
        background-color: $main-color2;
        padding: 10px 15px;
        input {
            width: 100%;
            padding: 10px 5px 10px 15px;
            box-sizing: border-box;
            border: 0;
            border-radius: 20px;
            font-size: 12px;
            &:focus {
                outline: 0;
            }
        }
    }
    &__result {
        margin: 0px 20px 0px 15px;
        height: 500px;
        overflow-y: scroll;
    }
    &__footer {
        background-color: $main-color2;
        padding: 10px 15px;
        text-align: right;
    }
    &__save {
        background-color: $main-color;
        border: 0;
        color: #fff;
        border-radius: 5px;
        padding: 10px 15px;
        font-size: 12px;
        cursor: pointer;
        &:hover {
            opacity: 0.9;
        }
    }
}

.friends,.friends-new {
    padding-left: 0;
}
.friends-new {
    height: 100vh;
}

.friend {
    position: relative;
    list-style: none;
    display: block;
    width: 100%;
    overflow: hidden;
    padding: 10px;
    border-bottom: 1px solid $main-color2;
    box-sizing: border-box;
    &:hover {
        background-color: $main-color2;
    }
    &__foto {
        float: left;
        margin-right: 10px;
        img{
            border-radius: 100%;
        }
    }
    &__name {
        font-size: 12px;
        font-weight: bold;
        margin-top: 18px;
        float: left;
    }
    &__add {
        position: absolute;
        top: 0;
        right: 0;
        width: 30px;
        height: 100%;
        text-align: center;
        line-height: 70px;
        font-size: 30px;
        color: #ccc;
        cursor: pointer;
        &:hover {
            color: #000;
        }
        &:before {
            content: "+";
        }
    }
}