<div class="main">
    <div class="filter">
        <div id="nameUser" class="filter__header">
        </div>

        <div class="filter__one">
            <div class="filter__search">
            </div>
            <div class="filter__title">
                Ваши друзья
            </div>
            <div id="results">
                <ul class="friends">

                </ul>
            </div>
        </div>

    </div>
</div>


